/* CSS Start*/
/* -------------------------------------------------------------------------------- */
/* Custom CSS */
.body-background {
  transition: background-color 0.3s ease;
}

.banner-title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-custom {
  transition: all 0.3s ease;
}

.btn-custom:hover {
  transform: scale(1.05);
}

.price {
  color: #fa804c;
}

@keyframes customSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning-icon {
  animation: customSpin 2s linear infinite;
}

/* CSS End  */
